/node_modules
/package.json
/package-lock.json
/docs/.vitepress
/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/.vitepress/theme
.vitepress
/.vitepress
.vitepress/dist
/.vitepress/dist
.vitepress/cache
/.vitepress/cache
.vitepress/theme
/.vitepress/theme
.vscode
dist
cache
temp
*.log
*.tgz
.DS_Store